{% extends 'base.html' %}
{% block style %}

     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
       height: 700px;
       width: 1000px;
       position: float-left;
       margin: 30px;
     }

     html, body {
       height: 50%;
       margin: 0;
       padding: 0;
     }
     .panel {
       height: 700px;
       width: 200px;
       position: float-right;
     }

     .panel-default>.panel-heading {
         background-color: transparent;
         border-color: transparent;
         text-align: center;
     }


     .checkmark__circle {
      stroke-dasharray: 166;
      stroke-dashoffset: 166;
      stroke-width: 2;
      stroke-miterlimit: 10;
      stroke: #00bc8c;
      fill: none;
      animation: stroke 3.6s cubic-bezier(0.65, 0, 0.45, 1) infinite;
    }

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #303030;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
}



.checked > svg {
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  0%, 100% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 360;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #00bc8c;
  }
}

     #origin-input:focus,
     #destination-input:focus {
       border-color: #4d90fe;
       text-align: center;
     }

     #title {
       color: #fff;
       background-color: #4d90fe;
       font-size: 25px;
       font-weight: 500;
       padding: 6px 12px;
     }

     .modal-title{
       text-align: center;
     }

     label {
       font-size: 18px;
     }

     .panel-body {
      font-size: 18px;
      text-align: center;

     }
{% endblock %}

{% block content %}

  <!-- autocomplete directions -->
  <div class="control-panel form-group" style="text-align:center;position: absolute; top-margin: 10px;z-index: 999;left: 222px;">
    <input id="origin-input" class="controls form-control form-control-lg" type="text" placeholder="Enter an origin location" autocomplete="off" style="z-index: 0; width: 300px; text-align:center; position: absolute; left: 0px; margin:5px; top: 0px;">
    <input id="destination-input" class="controls form-control form-control-lg" type="text" placeholder="Enter a destination location" autocomplete="off" style="z-index: 0; position: absolute; text-align:center; left: 320px; width:300px; margin: 5px; top: 0px;">
  </div>

<!-- side panel background-->
<div id="back-panel" class="panel panel-default" style="position: absolute;top: 90px; right: 30px; width:350px;">
</div>

<!-- Welcome panel -->
<div id="welcome-panel" class="panel panel-default" style="background-color: transparent; position: absolute;top: 90px; right: 30px; width:350px;">
    <h2 style="margin-top:200px" class="panel-heading">Welcome to Lightly!</h2>
    <div class="panel-body">
      <span><div>Enter your origin and destination to follow the brightest path.</div></span>
      <div><i style="font-size: 80px; text-align: center; margin:30px" class="fas fa-lightbulb"></i></div>
    </div>
</div>

<!-- panel to switch to shorter route -->
<div id="longer-route-panel" class="panel panel-default" hidden="hidden" style="background-color: transparent; position: absolute;top: 90px; right: 30px; width:350px;">
    <h3 class="panel-heading">Route optimized!</h3>
    <div class="panel-body">
      <!-- checkmark source https://codepen.io/anon/pen/ERXqrW -->
      <div id="checkmark1"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg></div>
      <div style="margin: 40px; font-size: 25px">
        <div><i class="fas fa-walking"></i>
          <div class="distance-text"></div>
        </div>
        <div style="margin:30px"><i class="fas fa-lightbulb"></i>
          <div class="percentage-text">+<span id="percentage-text"></span>%</div>
        </div>
        <div><i class="fas fa-clock"></i>
          <div class="duration-text"></div>
          <div class="text-muted duration-delta">+<span id="duration-delta"></span> min</div>
        </div>
      </div>
      <button name="change" type="button" hidden="hidden" class="btn btn-info" style="float:center;" id="changepreference-shortest">
          Show me the shortest route
      </button>
    </div>
  </div>
</div>

<!-- all optimized panel -->
<div id="all-optimized-route-panel" class="panel panel-default" hidden="hidden" style="background-color: transparent; position: absolute;top: 90px; right: 30px; width:350px;">
    <h3 class="panel-heading">Route optimized!</h3>
    <div id="checkmark2"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg></div>
    <div class="panel-body">
      <div>You are on the shortest route with the best lighting.</div>
      <div style="margin: 40px; font-size: 25px">
        <div><i class="fas fa-walking"></i> <span class="distance-text"></span></div>
        <div><i class="fas fa-clock"></i> <span class="duration-text"></span></div>
      </div>
    </div>
</div>

<!-- switch to shortest route back-panel -->
<!-- unoptimized panel -->
<div id="shortest-route-panel" class="panel panel-default" hidden="hidden" style="background-color: transparent; position: absolute;top: 90px; right: 30px; width:350px;">
      <div style="margin-top: 200px">
      <h2 style="text-align:center; padding:20px">You are on the shortest route.</h2>
      <div style="text-align: center; margin: 40px; font-size: 25px">
        <div><i class="fas fa-walking"></i> <span class="distance-text"></span></div>
        <div><i class="fas fa-clock"></i> <span class="duration-text"></span></div>
      </div>
    </div>
</div>

<!-- unoptimized panel -->
<div id="unable-to-optimize-route-panel" class="panel panel-default" hidden="hidden" style="background-color: transparent; position: absolute;top: 90px; right: 30px; width:350px;">
    <h3 class="panel-heading">Optimization unavailable.</h3>
    <div class="panel-body">
      <div>You are on the shortest route.</div>
      <div style="margin: 40px; font-size: 25px">
        <div><i class="fas fa-walking"></i> <span class="distance-text"></span></div>
        <div><i class="fas fa-clock"></i> <span class="duration-text"></span></div>
      </div>
    </div>
</div>



<div id="map"></div>
{% endblock %}

{% block script %}


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/denissellu/routeboxer/master/src/RouteBoxer.js"></script>
    <!-- icons -->
    <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/map.js"></script>
    <script type="text/javascript" src={{ "https://maps.googleapis.com/maps/api/js?key=" + GMAPS_API_KEY + "&libraries=places,geometry&callback=initMap" }}></script>
  </body>

{% endblock %}
