{% extends 'base.html' %}
{% block content %}
<br>
<div class="well spaced" style="width:97%">
  <div class="container">
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Register</h1>
                  </div>
              </div>
        <div class="main-login main-center">

          <form action="/register" class="form-horizontal" method="POST">


            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username" onChange={this.handleChange} required class="form-control" placeholder="Enter your Username"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email"  onChange={this.handleChange} required class="form-control" placeholder="Enter your Email"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Zipcode</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="zipcode" id="zipcode" onChange={this.handleChange} required class="form-control" placeholder="Enter your Zipcode"/>
                </div>
              </div>
            </div>
            
            <div class="form-group ">
              <input type="submit" value="Register" disabled={this.disableForm()} class="btn btn-primary btn-lg btn-block login-button"></input>

            </div>

          </form>
        </div>
      </div>
    </div>

</div>
{% endblock %}
